
.brand-logo img {
  height: 2.1rem;
  vertical-align: middle;
}

.header { 
  color: #00B0FF;
}

.screenshot {
  width: 18rem;
  display: inline-block;
  margin: 0 2rem 2rem 0;
}

.materialboxed {
  width: 100%;
}

.video {
  margin: 0 auto;
  height: 315px;
  width: 420px;
}

.video iframe {
  width: 100%;
  height: 100%;
}

pre {
  background: #f5f5f5;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

pre span {
  color: #2e7d32;
}